.infoContainer {
  padding: 15px;
  width: 300px;
  line-height: 1.6;
}

.detailImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.infoTitle {
  font-weight: bold;
  margin-right: 3px;
}

#sniff-btn {
  margin: 15px;
  width: 300px;
}
