.adminForm {
  width: 300px;
  margin: 15px auto;
  border: 1px solid grey;
  padding: 15px;
}

.adminImage {
  max-height: 300px;
}

input,
select {
  margin: 3px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

table {
  margin: auto;
  width: 70%;
  max-width: 600px;
}

h3 {
  text-align: center;
}

#imgHeader {
  width: 100px;
}

#foodTable {
  width: 75%;
  max-width: 800px;
}
