.isCurrent {
  font-weight: bold;
}

.log-title {
  display: inline-block;
}

.log-header {
  margin-top: 10px;
  text-align: center;
}

#log-table {
  width: 500px;
  margin: auto;
  color: #3e8635;
}

#rating-col {
  width: 30px;
}
